<template>
     <div>
          <div>


            <h2>Buscador de Match 2</h2>
    
    Busca tu juego con su nombre
    <input type="text" v-model="Nombre" />
    agregale el genero
    <input type="text" v-model="Genero" />
  
    <button v-on:click="registrar">mandale mecha!</button>
        Buscalo!
    </div>
     <button v-on:click="volver">volver</button>
    </div>
</template>

<script>


export default {
    name: "buscador",
     data: function() {
    return {
      Nombre: "",
      Genero: ""
    };
  },
  methods: {
    buscar: function() {
  let uri = `http://localhost:5000/api/home/buscador`;
  fetch(uri, {
    method: "GET", // or 'PUT'
    body: JSON.stringify({
      Nombre: this.Nombre,
      Genero: this.Genero
    }), // data can be `string` or {object}!
    headers: {
      "Content-Type": "application/json"
    }
  }).then(response => {
    if (response.status == 200) {
         console.log("se encuentra")
     
    }
  }).catch(err => {
    if (err) {
      console.log("ups parece que no se encuentra")
    }
  }); 
    
  },
  volver: function(){
    
      this.$router.push("/home");
  }} }
</script>>