<template>
    <div>
        Bienvenido a Casa!

         <button v-on:click="ir_al_buscador">mandale mecha y buscate un juego!</button>
    </div>
    
</template>

<script>
export default {
    name: 'home' ,
     methods: {
   
  ir_al_buscador: function(){
    
      this.$router.push("/buscador");
  }} }

</script>

