<template>
  <div>
    <h2>Bienvenidos a Match 2</h2>
    <p>Registrate o logeate al sitio para buscar tu equipo!</p>Logeate
    User
    <input type="text" v-model="User" />
    Password
    <input type="password" v-model="Pass" />
    <button v-on:click="logear">Log in</button>
    <button v-on:click="registrar">Registrate!</button>
  </div>
</template>
<script>

export default {
  name: "landpage",
  data: function() {
    return {
      User: "",
      Pass: ""
    };
  },
  methods: {
    logear: function() {
  let uri = `http://localhost:5000/api/login`;
  fetch(uri, {
    method: "POST", // or 'PUT'
    body: JSON.stringify({
      username: this.User,
      password: this.Pass
    }), // data can be `string` or {object}!
    headers: {
      "Content-Type": "application/json"
    }
  }).then(response => {
    if (response.status == 200) {
      this.$router.push("/home");
    }
  }).catch(err => {
    if (err) {
      console.log(err)
    }
  });
  
},
    registrar: function() {
      this.$router.push("/register");
    }
    //function(ev) {
    //       this.$store.commit('agregarItemACarrito', {
    //         nombre: this.producto,
    //       cantidad: this.cantidad
    //  })
  }
};
</script>