<template>
     <div>


            <h2>Registrate  a Match 2</h2>
    
    User
    <input type="text" v-model="User" />
    Password
    <input type="password" v-model="Pass" />
  
    <button v-on:click="registrar">Unite a la comunidad!</button>
         Registrate yaaa!!!!!
    </div>
</template>

<script>


export default {
    name: "register",
     data: function() {
    return {
      User: "",
      Pass: ""
    };
  },
  methods: {
    registrar: function() {
  let uri = `http://localhost:5000/api/register`;
  fetch(uri, {
    method: "POST", // or 'PUT'
    body: JSON.stringify({
      username: this.User,
      password: this.Pass
    }), // data can be `string` or {object}!
    headers: {
      "Content-Type": "application/json"
    }
  }).then(response => {
    if (response.status == 200) {
      this.$router.push("/home");
    }
  }).catch(err => {
    if (err) {
      console.log(err)
    }
  }); 
    
  }} }


    
</script>