<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <!-- <landpage /> -->
    <h1>SARASA!</h1>
       <router-link to="/">
        </router-link>
      <router-view>
      </router-view>
  
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
import VueRouter from "vue-router"
//import Vuex from 'vuex'
import landpage from './components/LandPage'
import home from './components/Home'
import register from './components/Register'
import buscador from './components/Buscador'

const router = new VueRouter({
  routes: [{
    path: '/',
    name: 'landpage',
    component: landpage
  },
  {
    path: '/register/',
    name: 'register',
    component: register
  },
  {
    path: '/home',
    name: 'home',
    component: home
  },
  {
    path: '/buscador/',
    name: 'buscador',
    component: buscador
  }
  ]
})
export default {
  name: 'app',
  router,
  components: {

  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
